*.o
*.a
*.cmx
*.cmxa
*.cmo
*.cmi
*.cma
*.lp
*.lpo
*~
*/memprof/
*.aux
*.bbl
*.blg
*.orig
*.log
**/.tmp/*
perf*data*
*.swp
*.exe
gmon.out
*.thc
*.out
elpi/elpi
elpi/elpi.trace
elpi/elpi.git.*
elpi/bench/data.csv*
elpi/trace_ppx
elpi/.depends
elpi/.depends.parser
elpi/META.elpi
papers/LPAR2015/*.pdf
papers/LPAR2015/*.zip
