[submodule "poc_elpi/matita"]
	path = poc_elpi/matita
	url = git@github.com:gares/matita.git
[submodule "elpi/bench/sources/checkers"]
	path = elpi/bench/sources/checkers
	url = https://github.com/proofcert/checkers.git
[submodule "teyjus"]
	path = teyjus
	url = https://github.com/teyjus/teyjus.git
