*.o
*.a
*.cmx
*.cmo
*.cmi
*.cmxa
*.cma

*~
.*.swp

matita/Makefile.defs
matita/autom4te.cache
matita/components/METAS/META*
matita/config.log
matita/configure

matita/components/extlib/componentsConf.ml
matita/matita/matitaGeneratedGui.ml
matita/matita/matita.conf.xml
matita/matita/buildTimeConf.ml
matita/depend-stamp
matita/config.status

matita/matita/matita
matita/matita/matitac
matita/matita/matita.opt
matita/matita/matitac.opt
matita/matita/matitaclean
matita/matita/matitaclean.opt

matita/matita/help/C/version.txt
