[submodule "poc_elpi/matita"]
	path = poc_elpi/matita
	url = https://github.com/gares/matita.git
	ignore = untracked
[submodule "elpi/bench/sources/checkers"]
	path = elpi/bench/sources/checkers
	url = https://github.com/proofcert/checkers.git
	ignore = untracked
[submodule "teyjus"]
	path = teyjus
	url = https://github.com/teyjus/teyjus.git
	ignore = untracked
[submodule "abella"]
	path = abella
	url = https://github.com/abella-prover/abella.git
	ignore = untracked
